.card {
  background-color: white;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  width: 100%; /* Take full width of the container */
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);

  .category {
    background-color: #dfd9f9;
    color: #c2b7f2;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
  }

  h4 {
    margin: 10px 0;
    font-size: 22px;
    color: #333;
  }

  p {
    color: #666;
  }

  .meta {
    display: flex;
    gap: 15px;
    font-size: 14px;
    color: #999;
  }
}
