.productBanner {
  background-color: #fffdf7;
  // text-align: center;
  // padding: 40px;
  border-radius: 8px;
  width: 50%;
  // height: 600px;
}

h2 {
  font-size: 32px;
  color: #0277bd;
}

p {
  font-size: 20px;
  color: #01579b;
}
