.page {
  background-color: #ffffff;
}

.pageContent {
  display: grid;
  grid-template-columns: 280px 1fr;
  gap: 4rem;
  max-width: 1400px;
  margin: 4rem auto;
  padding: 0 2rem;
  align-items: flex-start;
}

// --- Main Content ---
.main {
  min-width: 0;
}

.resultsHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  min-height: 40px;
}

.activeFilters {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.75rem;

  > span {
    font-weight: 600;
    margin-right: 1rem;
    font-size: 1.125rem;
  }

  button {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background-color: #f3f4f6;
    border: 1px solid #e5e7eb;
    padding: 0.5rem 1rem;
    border-radius: 9999px;
    font-size: 0.875rem;
    cursor: pointer;
  }
}

.sortDropdown {
  border: 1px solid #e5e7eb;
  border-radius: 0.5rem;
  padding: 0.6rem 1rem;
  font-size: 1rem;
  background-color: white;
}

.retreatsGrid {
  display: grid;
  color: #000;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  // gap: 2rem;
}
